h1{
    text-decoration: underline
}

header{
    background-color: grey;
}

div.nav{
    float: right;
}

a:hover{
        background-color: red;
    }

body{
    margin: 0px;
}

footer{
    float: right;
}

.highlight{
    background-color: coral;
}

.A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

nav{
    display: flex;
}